.container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    margin-bottom: 10px;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.list__make {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* gap: 150px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #006d77;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    font-size: 26px;
    color: #FFFFFF;
    border-radius: 20px;
    padding: 28px 32px;
    cursor: pointer;
    text-decoration: none;
}
.make__info {
    display: flex;
    flex-direction: row;
    min-width: 1000px;
}
.edit-make {
    text-decoration: none;
}
.true {
    background-color: #bdb9b9 !important;
    cursor: not-allowed !important;
    color: black !important;
}
.list__child {
    /* min-width: 200px; */
    min-width: 280px;
    cursor: pointer;
}

.list__make--header{
    background-color: #FFFFFF;
    color: #333333;
    padding: 10px;
    box-shadow: none;
    cursor: auto;
}
.header__title {
    margin-left: 10px;

}
.header__create {
    margin-left: 20px;
    display: flex;
}
.create__btn {
    background-color:#006d77;
    border-radius: 10px;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    align-self: center;
    color: #FFFFFF;
    margin-right: -150px;
    border: none;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;  
}
.btn--left{
    margin-left: -100px;
}
.create__btn:hover {
    background-color: #069ba8;
}
.create__plus {
    margin-right: 10px;
}
.create__btn:hover > .create__plus {
    animation: rotate 1s ease-in-out infinite;
}
.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.list__child--first {
    text-align: left;
    min-width: 165px;
}
.list__child--firstMake{
    min-width: 177px;
}
.list__make:hover > .list__child--last{
    animation: slide 1s ease-in-out infinite;
}
.no-makes {
    margin-top: 100px;
}
.no-makes__icon {
    color: #9b9494;
    margin-top: 200px;
    margin-right: 100px;
    animation: rotate-car 7s ease infinite;
}
.list__pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}
.list__back, .list__forward {
    width: 200px;
    height: 50px;
    background-color: #069ba8;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.list__back:hover, .list__forward:hover{
    background-color: #0b585f;
}

.forward__icon{
    margin-left: 15px;
    transform: scale(1.8);
}
.sort-arrow {
    transform: scale(0.5);
    margin-bottom: -3px;
    margin-left: 5px;
}
.list--fixed-size{
    height: 540px;
}
.header__filter {
    position: absolute;
    background-color:#069ba8;
    margin-top: 100px;
    margin-left: 1250px;
}
.list__container {
    width: 1200px;
    height: 685px;
}
.back__icon1{
    margin-right: 15px;
    transform: scale(1.8);
}
@keyframes slide {
    0%,100% {
        margin-left: 0px;
    }
    50% {
        margin-left: 20px;
    }
}
@keyframes rotate {
    0%, 100% {
        transform: rotate(0deg);
        
    }
    80% {
        transform: rotate(180deg)
        scale(1.3);
    }
}
/* @keyframes rotate-car {
    0%, 100% {
        transform: rotate(135deg) scale(8);
    }
    50% {
        transform: rotate(45deg) scale(8);
    }

    
} */
@keyframes rotate-car {
    0%, 100% {
        margin-left: -150px;
        transform: scale(8);
    }
    50% {
        margin-left: 150px;
        transform: scale(8);
    }
    
    
}

