.create-arrow{
    display: block;
    width: 0px;
    height: 0px;
    border: 20px solid transparent;
    border-bottom-color: #83c5be;
    border-top-width: 0px;
    margin-top: -10px;
    margin-left: 50px;
}
.create-container{
    background-color: #83c5be;
    position: absolute;
    z-index: 10;
    margin-left: 80px;
    margin-top: 68px;
    height: 200px;
    animation: show 0.5s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 2;
}
.create-form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-left: 10px;
    margin-right: 10px;
}
.create-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
}
.create-label {
    margin-left: 5px;
    font-size: 18px;
    font-weight: 600;
    color: #006d77;
}
.create-input {
    border: none;
    background: none;
    border-bottom: 2px solid #006d77;
    outline: none;
    
    font-weight: 500;
}
.create-btn {
    border: none;
    background-color: #006d77;
    padding: 10px;
    margin-top: -15px;
    width: 90%;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 10px;
    cursor: pointer;
}
.create-filler {
    width: 1920px;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}
@keyframes show {
    0% { 
        opacity: 0; 
        height: 0px
    }
    40% { 
        height: 200px; 
    }
    100% { 
        opacity: 1; 
    }
}