.edit-container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    padding-bottom: 35px;
    background-color: #FFFFFF;
    box-shadow: 0px 12px 76px rgba(0, 0, 0, 0.06);
    border-radius: 16px;
}
.edit__header {
    text-align: center;
}
.edit__form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.form__child {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
}
.form__label {
    min-width: 80px;
}
.form__input{
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid #006d77;
}
.form__btn {
    min-width: 50%;
    margin-right: auto;
    margin-left: auto;
    border: none;
    background-color: #006d77;
    color: #FFFFFF;
    border-radius: 16px;
    padding: 10px;
    cursor: pointer;
}
.form__btn:hover{
    background-color: #069ba8;
}
.delete-btn{
    min-width: 5%;
    cursor: pointer;
    border: none;
    background-color: #ff4500;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 10px;
}
.delete-btn:hover{
    background-color: #e9825d;
}
.header__id{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: center;

}
.header__title{
    display: flex;
    flex-direction: row;
    gap: 300px;
    align-items: center;
}
.header__back{
    min-width: 5%;
    height: 30px;
    cursor: pointer;
    border: none;
    background-color: #006d77;
    color: #FFFFFF;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.back__icon{
    transform: scale(1.8);
}
.header__back:hover{
    background-color: #069ba8;
}

.header__back:hover > .back__icon {
    animation: slide--back 1s ease-in-out infinite;
}
.form__label--select{
    margin-left: -92px;
}
.form__label--select1{
    margin-left: -50px;
}
@keyframes slide--back {
    0%, 100% {
        margin-right: 0px;
    }
    50% {
        margin-right: 8px;
    }
    
}

